<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sEmStore - Контакты</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

    <header>
        <h1 class="profile-h1-6">Контакты</h1>
    </header>

    <div th:replace="~{common/header :: header}"></div>

    <main>
        <h2>Как с нами связаться?</h2>
        <p>Email: semstore@gmail.com</p>
        <p>Телефон: +7 (521) 777-77-77</p>
        <p>Telegram: <a href="https://t.me/semstorepoizon">@semstorepoizon</a></p>
    </main>

    <button class="support-button" onclick="toggleMenu()"><div class="support-text">Связаться</div></button>

    <div th:replace="~{common/footer :: footer}"></div>

    <script src="/js/script.js"></script>
</body>
</html>