<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sEmStore - Главная</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <header>
        <h1>sEmStore</h1>
    </header>
    <div th:replace="~{common/header :: header}"></div>

    <main>
        <h2>Лучший магазин оригинальной одежды!</h2>
            <div class="box">У нас вы можете заказать любые оригинальные вещи по низкой цене.</div>
    </main>
    <div class="make-order"><a href="profile"><button class="button">Сделать заказ</button></a></div>
    <img src="/images/room.jpg" alt="" class="full-screen-image">
    <img src="/images/warehouse.jpg" alt="" class="full-screen-image">

<button class="support-button" onclick="toggleMenu()">Связаться</button>

    <div th:replace="~{common/footer :: footer}"></div>
<script src="/js/script.js"></script>
</body>
</html>