<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <header>
        <h1 class="profile-h1-6">Авторизация</h1>
    </header>

    <div th:replace="~{common/header :: header}"></div>

    <main>
        <form action="/login" method="post" id="auth-form" onsubmit="return validateForm()">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
            <span id="email-error" class="error-message"></span>
            
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" required>
            <span id="password-error" class="error-message"></span>
            
            <button type="submit">Войти</button>
        </form>

        <p>Нет аккаунта? <a href="register">Зарегистрироваться</a></p>
    </main>

    <button class="support-button" onclick="toggleMenu()"><div class="support-text">Связаться</div></button>

    <div th:replace="~{common/footer :: footer}"></div>

    <script src="/js/script.js"></script>
</body>
</html>
