<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sEmStore - Заказ</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header>
  <h1>sEmStore</h1>
</header>

    <div th:replace="~{common/header :: header}"></div>

<h2>Форма заказа</h2>
<form id="order-form">
    <label for="product-link">Ссылка на товар:</label>
    <input type="url" id="product-link" name="product-link" required>

    <label for="size">Размер:</label>
    <input type="text" id="size" name="color" required>

    <label for="color">Цвет:</label>
    <input type="text" id="color" name="color" required>

    <button type="submit" class="button">Сделать заказ</button>
</form>

<button class="support-button" onclick="toggleMenu()">Связаться</button>

<div th:replace="~{common/footer :: footer}"></div>

<script src="/js/order.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
