<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header>
    <h1 class="profile-h1-6">Личный кабинет</h1>
</header>

<div th:replace="~{common/header :: header}"></div>

<a href="logout" class="logout-icon">
    <img src="/images/logout.png" alt="logout">
</a>
<main>
    <p>Здравствуйте, <span th:text="${user.name}"></span>!</p>
    <p>Email: <span th:text="${user.email}"></span></p>
    <div class="make-order">
        <a href="order"><button class="button">Сделать заказ</button></a>
    </div>
</main>



<section>
    <br>
    <div th:if="${not #lists.isEmpty(orders)}">
            <h2 class="profile-h1-6">Мои заказы</h2>
        <table>
            <thead>
            <tr>
                <th>ID заказа</th>
                <th>Ссылка на товар</th>
                <th>Размер</th>
                <th>Цвет</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.link}"></td>
                <td th:text="${order.size}"></td>
                <td th:text="${order.color}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(orders)}">
        <main>
            <p>Здесь появятся ваши заказы. Создайте его по кнопке выше!</p>
        </main>
    </div>
</section>

<button class="support-button" onclick="toggleMenu()"><div class="support-text">Связаться</div></button>

<div th:replace="~{common/footer :: footer}"></div>

<script src="/js/script.js"></script>
</body>
</html>
